/*selector por etiqueta*/
nav{
    background-color: aquamarine;
    text-align: center;
    color:green;
    font-size:30px;
}

footer{
    background-color: olive;
    color: white;
}


/*selectores por id*/
#seccionIngreso{
    background-color: aqua;
    display: none;
}